div > *{
  margin: 2em 2em 2em 40vw;
}

p {
  margin: 0 !important;
  text-align: center;
  color: aqua;
  font-size: 18px;
  text-transform: uppercase;
}

button {
  padding: 1em;
  border: 2px solid aqua;
  color: aqua;
  border-radius: 0.26rem;
  background-color: black;
  font-size: 18px;
  font-weight: bold;
  width:21.5vw;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: aqua;
}

img.examplePhoto {
  margin-left: 30vw !important;
  width: 40vw;
}

.logo {
  width: 30vw;
  margin-left: 38vw;
  margin-top: 3em;
}
